.back{
    margin-top: 4%;
    margin-left: 4%;
  }
  .para{
    margin-top: 10%;
    margin-left: 20%;
  }
  
  .cards-form{
    margin-left: 20%;
  
  
  }
  
  .form-group{
    max-width: 50%;
    padding: 1%;
  }
  
  .btn{
    margin: 15px;
    width: 25%;
  }
  